:root {
    --color-navbar-Background: #26262b; 
    --color-navbar-input-Background: #414149; 
    --color-navbar-input-front: #dbdbdb; 

    --color-Background: #1A1A1D;
    --color-background-text: #C3073F;
    --color-post-background: #6F2232;
    --color-post-outer-text: #000000;
    --color-post-inner-text: #FFFFFF;
    --color-input-background: #4E4E50;
    --color-input-text: #FFFFFF;
    
    --color-empty-background-profile:#BFBFBF;
    --color-active-link: #950740;
    --color-link-hover: #6e0730;

    --color-invitation-accept:#0C72CF;
    --color-invitation-decline:#E93B3B;

    --color-chat-input-text-bg: #dbdbdb;
    --color-chat-input-text-fg: #000000;
    
    --color-chat-input-submit-bg: #ac0045b4;
    --color-chat-input-submit-fg: #FFFFFF;
    
    --color-chat-currentUser-text-bg: #ac0045b4;
    --color-chat-currentUser-text-fg: #dbdbdb;
    
    --color-chat-otherUser-text-bg: #dbdbdb;
    --color-chat-otherUser-text-fg: #000000;
}