:root {
    --primary1: #C3073F;
    --primary3: #ac0045b4;
    --primary4: #6F2232;
    --secondary1: #0C72CF;
    --secondary2: #E93B3B;
    --color1: #FFFFFF;
    --color2: #dbdbdb;
    --color3: #BFBFBF;
    --color4: #4E4E50;
    --color5: #26262b;
    --color6: #1A1A1D;
    --color7: #000000;
}


:root{
    --color-post-inner-text: var(--color1);
    --color-chat-input-submit-fg: var(--color1);
    --color-chat-currentUser-text-fg: var(--color1);
    --color-navbar-input-front: var(--color2); 
    --color-chat-input-text-bg: var(--color2);
    --color-chat-otherUser-text-bg: var(--color2);
    --color-empty-background-profile: var(--color3);
    --color-input-background: var(--color4);
    --color-navbar-input-Background: var(--color4); 
    --color-navbar-Background: var(--color5); 
    --color-Background: var(--color6);
    --color-post-outer-text: var(--color7);
    --color-chat-input-text-fg: var(--color7);
    --color-chat-otherUser-text-fg: var(--color7);
    

    --color-background-text: var(--primary1);
    --color-chat-input-submit-bg: var(--primary3);
    --color-chat-currentUser-text-bg: var(--primary3);
    --color-post-background: var(--primary4);

    --color-invitation-accept: var(--secondary1);
    --color-invitation-decline: var(--secondary2);

}