@import url("./colorScheme.css");

body {
  margin: 0;
  font-family:  'Georgia', 'Brush Script MT' ,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-Background);
  color: var(--color-background-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: gray;
}

.content{
  margin: auto;
  min-height: 80vh;
}

.user-post-profile-image{
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.svg-color{
  fill: inherit ;
}
.small-icon{
  fill: inherit;
  width: 30px;
  height: 30px;
}