@import url("./colorScheme.css");


.navbar{
    font-family: 'Times New Roman', 'Georgia', 'Brush Script MT';
}

.navbar-bg{
    background-color: var(--color-navbar-Background);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar-brand, .navbar-brand:hover{
    color: var(--color-background-text);
}

.nav-item{
    color: var(--color-background-text);
}
.nav-link, .nav-link:hover{
    color: var(--color-background-text);
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active{
    color: var(--color-active-link);
}

.navbar-profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 25px;

}

.dropdown-toggle::after {
    content: none;
}

.nav-search-input{
    background-color: var(--color-navbar-input-Background);
    color: var(--color-navbar-input-front);
    border-radius: 10px;
    border: none;
}
.nav-search-input:focus{
    outline: none;
}