.all-posts-holder{
    width: 500px;
    margin: 40px auto auto auto;
    position: relative;
}

.user-post-container{
    width: 500px;
    min-height: 80px;
    background-color: var(--color-post-background);
    border-radius: 10px;
    color: var(--color-post-outer-text);
}

.user-post-content{
    color: var(--color-post-inner-text);
}

.post-interaction-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 0 10px;
}
.post-interaction-item{
    height: 40px;
    width: 40px;
}
.post-interaction-item g{
    fill: inherit;
}
.active-like{
    fill: rgb(43, 116, 175);
}

.button:hover{
    cursor: pointer;
}



.user-add-comment-container{
    height: 50px;
    background-color: var(--color-post-background);
    border-radius: 10px;
    margin: auto;
    position: relative;
}
.user-add-comment-form{
    padding: 0 10px;
    margin: 0;
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Georgia', 'Brush Script MT' ,'Segoe UI';
}
.user-add-comment-form-text{
    height: 40px;
    margin-right: 20px;
    background-color: var(--color-input-background);
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    width: 400px;
}
.user-add-comment-form-text::placeholder{
    color: white;
}

.user-add-comment-form-submit{
    color: var(--color-background-text);
    background-color: var(--color-Background);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.user-add-comment-form-submit:disabled{
    opacity: 0.6;
}