.background-img{
    width: 100%;
    height: 180px;
    background-color: var(--color-empty-background-profile);
    color: black;
    position: relative;
}
.background-img p{
    font-family: 'Georgia', 'Brush Script MT' ,'Segoe UI';
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pofile-img-container{
    height: 100px;
    width: 100%;
    position: relative;
}
.profile-img{
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 10px;
    margin-left: auto; 
    margin-right: auto; 
    height: 150px;
    width: 150px;
    border-radius: 500px;
}

.pofile-aboutMe-Container{
    width: 100%;
    height: 100px;
    position: relative;

}
.profile-aboutMe{
    background-color: transparent;
    overflow: hidden;
    width: 300px;
    text-align: center;
    border: none;
    resize: none;
    color: inherit;
    cursor: pointer;
}

.pofile-interaction-Container{
    width: 100%;
    height: 50px;
    position: relative;

}
.pofile-interaction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: transparent;
    overflow: hidden;
    width: 300px;
    padding: 5px;
    text-align: center;
    border: none;
    resize: none;
    color: inherit;
}
.profile-interact-button{
    padding: 5px;
    color: var(--color-post-inner-text);
    background-color: var(--color-post-background);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.low-brightness{
    filter: brightness(0.75);
}

.user-publish-container{
    width: 500px;
    height: 80px;
    background-color: var(--color-post-background);
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.user-publish-form{
    padding: 0 10px;
    margin: 0;
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Georgia', 'Brush Script MT' ,'Segoe UI';
}
.user-publish-form-text{
    height: 40px;
    margin: 0 20px;
    background-color: var(--color-input-background);
    border: none;
    color: white;
    padding-left: 5px;
    width: 300px;
}
.user-publish-form-text::placeholder{
    color: white;
}

.user-publish-form-submit{
    color: var(--color-background-text);
    background-color: var(--color-Background);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.user-publish-form-submit:disabled{
    opacity: 0.6;
}